.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

body{
  background-color: lightgrey;
}


.header{
  height: 60px;
  background-color: red;

}

.container{
  background-color: white;
  height: 100%;
  min-height: 600px;
}

.stepper-progress-container{
  height: 50px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

.stepper-progress-container ul{
  list-style: none;
  padding-left: 0;
  display: flex;
}

.stepper-progress-container ul li{
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: red;
  color: white;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  }

.stepper-progress-container ul li:first-child{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


.stepper-progress-container ul li:last-child{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}